body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
}
#game-screen {
  width: 800px;
  margin: 50px auto;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
}
#text-box {
  margin: 20px 0;
}
#choices {
  display: flex;
  flex-direction: column;
}
button {
  margin-top: 10px;
}
